.container {
    max-width: $max-width; 
    padding: 1.4rem; 
    margin: auto;
} 

// buttons
@mixin btn-shared($bg,$bgBefore,$bgNthRight,$bgNthBottom,$bgNthLeft,$bgNthTop) {
    display: inline-block;
    transition: all 1s;
    border: none;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: $white-color;
    padding: 1.2rem;
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(255,255,255,0.05);
    overflow: hidden;
    background: $bg;
    &:before{
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        content: '';
        width: 50%;
        background: $bgBefore;
    }
    span:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $bgNthRight;
        animation: animate1 2s linear infinite;
    }
    span:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: $bgNthBottom;
        animation: animate2 2s linear infinite;
        animation-delay: 1s;
    }
    span:nth-child(3){
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $bgNthLeft;
        animation: animate3 2s linear infinite;
    }
    span:nth-child(4){
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: $bgNthTop;
        animation: animate4 2s linear infinite;
        animation-delay: 1s;
    }    
}
.btn {
    &-primary {
        @include btn-shared(crimson,rgba(255,255,255,.12),
            linear-gradient(to right, #e91640,#2f040d),
            linear-gradient(to bottom, #e91640,#2f040d),
            linear-gradient(to left, #e91640,#2f040d),
            linear-gradient(to top, #e91640,#2f040d ));
        &:hover{
            color: $primary-color;
            background-color: $white-color;
        }
    }
    &-black {
        @include btn-shared(#000,rgba(0,0,0,.12),
            linear-gradient(to right, #000,#fff),
            linear-gradient(to bottom, #000,#fff),
            linear-gradient(to left, #000,#fff),
            linear-gradient(to top, #000,#fff)
        );
        &:hover{
            color: $black-color;
            background-color: $white-color;
        }
    }
}

// background
.bg {
    &-dark {
        background-color: $lowBlack-color;
    }
    &-primary {
        background-color: $primary-color;
    }
    &-light {
        background-color: $light-color;
    }
}

// padding 
.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}

// margin 
.my {
    &-1 {
        margin: 1rem 0;
    }
    &-2 { 
        margin: 2rem 0;
    }
    &-3 {
        margin: 3rem 0;
    }
    &-4 {
        margin: 4rem 0;
    }
}

.text-center {
    text-align: center;
}

.section-title {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.border-bottom {
    height: 3px;
    width: 3rem;
    background-color: $primary-color;
    margin: 0 auto 1rem auto;
}

.lead {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    word-spacing: 2px;
}
@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}

	100%{
		transform: translateX(100%);
	}
}
@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}

	100%{
		transform: translateY(100%);
	}
}
@keyframes animate3{
	0%{
		transform: translateX(100%);
	}

	100%{
		transform: translateX(-100%);
	}
}
@keyframes animate4{
	0%{
		transform: translateY(100%);
	}

	100%{
		transform: translateY(-100%);
	}
}