$max-width: 1200px;
$primary-color: crimson;
$white-color: rgba(255, 255, 255,1);
$lowWhite-color: rgba(255, 255, 255,.7);
$light-color: #f4f4f4;
$white-color: #fff;
$medium-color: #ccc; 
$lowBlack-color: rgba(0,0,0,.5); 
$black-color: rgba(0,0,0,1); 
$bg-image: url('../img/bg.jpeg'); 